.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100vw;
  padding: 10px 0;
  height: 70px;
}

.fixed {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results a {
  padding: 5px;
}

@media all and (min-width: 760px) {
  .backButton {
    padding-left: 30px;

  }

}
