.navPill div{
  display: none;
}

.navPill:hover {
  color: rgba(255, 0, 0, 0.6);
}

.navPill:hover svg{
  fill: red;
}

@media all and (min-width: 640px) {
  .navPill svg {
    display: none;
  }
  .navPill div {
    display: block;
  }
}
