.container {
  background: rgba(0,0,0,0.40);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}
.header {
  padding: 10px;
  background: #2b3440;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal {
  background: black;
  position: fixed;
  min-width: 350px;
  max-width: 1280px;
  height: 720px;
  width: 60%;
  border-radius: 10px;
  overflow: scroll;
}

@media all and (max-height: 800px) {
  .modal {
    height: 600px;
  }
}

.tagline {
  display: flex;
  height: 40px;
  align-items: center;
  background: #DC2626;
  font-weight: bold;

}
.tagline, .title, .infoZone, .link, .right, .tvTitle{
  padding-left: 20px;
}
.title {
  min-height: 50px;
  background: black;
}
.title h1 {
  display: inline-block;
  font-size: xx-large;
  font-weight: bold;
}
.title small {
  margin-left: 10px;
}
.infoZone {
  display: flex;
}
.imageZone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  min-width: 450px;
  min-height: 250px;
}
.right {
  min-width: 200px;
}
.right small {
  display: block;
}

.tvTitle {
  display: flex;
  align-items: center;
  background: #DC2626;
  min-height: 50px;
}
.tvTitle h1 {
  display: inline-block;
  font-size: xx-large;
  font-weight: bold;
}
.tvTitle small {
  margin-left: 10px;
}
