.searchBar {
  width: 720px;
  position: relative;
}

.input {
  width: 720px;
  height: 50px;
  border-radius: 25px;
  padding-left: 50px;
  color: black;
  outline: none;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  /*background: red;*/
  border-left: 1px solid black;
  width: 70px;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.action svg {
  width: 25px;
  height: 25px;
}

@media all and (max-width: 1024px){
  .searchBar{
    width: 70vw;
    height: 40px;
  }
  .input {
    width: 70vw;
    height: 40px;
  }
  .action {
    width: 70px;
    height: 40px;
  }
}

